.aa-login-special-maintenance-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aa-login-special-maintenance-frame000-login {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: baseline;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.aa-login-special-maintenance-bg {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.aa-login-special-maintenance-frame7 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1148px;
  bottom: 0px;
  height: 708px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.5) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.aa-login-special-maintenance-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.aa-login-special-maintenance-text {
  top: 23px;
  color: rgba(179, 179, 179, 1);
  right: 31px;
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aa-login-special-maintenance-text02 {
  top: 23px;
  left: 31px;
  color: rgba(179, 179, 179, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aa-login-special-maintenance-container2 {
  width: 100%;
  height: 360px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.aa-login-special-maintenance-text04 {
  color: rgb(22, 22, 22);
  width: 800px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Inder;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.aa-login-special-maintenance-container3 {
  width: 50%;
  height: 150px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #888888;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.aa-login-special-maintenance-text25 {
  color: rgb(22, 22, 22);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Inder;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.aa-login-special-maintenance-text26 {
  font-weight: 700;
}
.aa-login-special-maintenance-container4 {
  width: 100%;
  height: 77px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.aa-login-special-maintenance-text31 {
  left: 0px;
  color: rgba(160, 160, 160, 1);
  right: 0px;
  width: 447px;
  bottom: 12px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 167.99999475479126%;
  font-stretch: normal;
  text-decoration: none;
}
.aa-login-special-maintenance-java-code-personal {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: -100;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 400px) {
  .aa-login-special-maintenance-frame000-login {
    position: relative;
  }
  .aa-login-special-maintenance-bg {
    height: 1395px;
  }
  .aa-login-special-maintenance-frame7 {
    top: 146px;
    left: 0px;
    width: 96%;
    height: 700px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
  .aa-login-special-maintenance-container2 {
    height: 450px;
  }
  .aa-login-special-maintenance-text04 {
    color: rgb(22, 22, 22);
    width: auto;
    font-size: 16px;
    align-self: center;
    font-family: Inder;
    font-weight: 400;
    line-height: 168%;
    text-decoration: none;
  }
  .aa-login-special-maintenance-text05 {
    font-weight: 700;
  }
  .aa-login-special-maintenance-container3 {
    border-width: 0px;
  }
  .aa-login-special-maintenance-text31 {
    width: auto;
  }
}
