.user-info-user-info {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
}
.user-info-frame15 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-info-container {
  top: 15px;
  left: 28px;
  width: 290px;
  height: 20.637500762939453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.user-info-text {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-text1 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text2 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-container1 {
  top: 14px;
  left: 396px;
  width: 900px;
  height: 26.375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: space-between;
}
.user-info-container2 {
  width: 300px;
  height: 26.375px;
  display: flex;
  align-items: flex-start;
}
.user-info-app-titleundefined-glyphundefined {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}
.user-info-text3 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text4 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-container3 {
  width: 300px;
  height: 26.375px;
  display: flex;
  align-items: flex-start;
}
.user-info-app-titleundefined-glyphundefined1 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}
.user-info-text5 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text6 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-container4 {
  width: 300px;
  height: 26.375px;
  display: flex;
  align-items: flex-start;
}
.user-info-app-titleundefined-glyphundefined2 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}
.user-info-text7 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text8 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}


.top-top {
  top: 0px;
  flex: auto;
  left: 0px;
  right: 0px;
  width: 1600px;
  height: 112px;
  margin: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.top-container {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  background-image: linear-gradient(180deg, rgb(236, 236, 236) 0.00%,rgb(255, 255, 255) 99.00%,rgba(240, 240, 240, 0.03) 0.00%);
}
.top-container01 {
  top: 7px;
  left: 36px;
  width: 1173px;
  height: 23px;
  display: flex;
  position: absolute;
}
.top-group29 {
  top: 0px;
  left: 0px;
  width: 237px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text01 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text02 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-group30 {
  top: 0px;
  left: 317px;
  width: 222px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.49999570846558%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text05 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text06 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-group31 {
  top: 0px;
  right: 303px;
  width: 236px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text07 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text08 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text09 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-group311 {
  top: 0px;
  right: 0px;
  width: 222px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text10 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text11 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text12 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-container02 {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(120, 120, 120, 0.4);
}
.top-container03 {
  top: 34px;
  left: 0px;
  right: 0px;
  width: 130px;
  height: 66px;
  display: none;
  box-shadow: 0px 0px 2px 0px #868686;
  border-color: #484848;
  justify-content: flex-start;
}
.top-container04 {
  top: 8px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  margin: auto;
  display: none;
  position: absolute;
}
.top-container05 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  display: none;
  position: absolute;
  text-decoration: none;
}
.top-text13 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  display: none;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container06 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 25px;
  display: none;
  position: absolute;
  text-decoration: none;
}
.top-text14 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  display: none;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-top1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  height: 74px;
  margin: auto;
  display: flex;
  position: absolute;
  flex-shrink: 0;
  background-color: #ffffff;
}
.top-frame26 {
  top: 0px;
  right: 0px;
  width: auto;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.top-container07 {
  width: 273.0625px;
  height: 23.212499618530273px;
  display: flex;
  align-self: center;
  margin-top: 14px;
  align-items: center;
  margin-right: 10px;
}
.top-text15 {
  color: rgb(110, 110, 110);
  width: 150px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text16 {
  color: rgb(110, 110, 110);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  margin-top: 4px;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-container08 {
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: 10px;
}
.top-navlink02 {
  display: contents;
}
.top-group7 {
  width: 60px;
  height: 53px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.top-icon {
  fill: var(--dl-color-gray-500);
  width: 30px;
  height: 30px;
  margin-top: 3px;
}
.top-text17 {
  color: var(--dl-color-gray-500);
  width: 80%;
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.top-navlink03 {
  display: contents;
}
.top-group71 {
  width: 60px;
  height: 53px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 1;
  margin-right: 0%;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.top-icon2 {
  fill: var(--dl-color-gray-500);
  width: 37px;
  height: 36px;
}
.top-text18 {
  color: var(--dl-color-gray-500);
  width: 80%;
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.top-navlink04 {
  display: contents;
}
.top-group72 {
  width: 55px;
  height: 50px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 1;
  margin-right: 0%;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.top-icon4 {
  fill: var(--dl-color-gray-500);
  width: 36px;
  height: 36px;
}
.top-text19 {
  color: var(--dl-color-gray-500);
  width: 80%;
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  margin-left: 6px;
  font-stretch: normal;
  text-decoration: none;
}
.top-container09 {
  flex: 1;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: 1px;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(120, 120, 120, 0.4);
}
.top-frame13 {
  top: 10px;
  left: 18px;
  width: 986px;
  height: 50px;
  display: flex;
  overflow: visible;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.top-container10 {
  all: blocks;
  top: 16px;
  left: 280px;
  width: 130px;
  height: 45px;
  position: absolute;
  align-items: flex-start;
}
.top-text20 {
  top: 0px;
  color: rgba(129, 129, 129, 1);
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container11 {
  height: 91px;
  display: none;
  box-shadow: 0px 0px 2px 0px #868686;
  border-color: #484848;
  justify-content: flex-start;
}
.top-container12 {
  top: 8px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 74px;
  margin: auto;
  position: absolute;
}
.top-container13 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text22 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container14 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text23 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container15 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text24 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-text25 {
  top: 16px;
  left: 420px;
  color: rgba(129, 129, 129, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-text27 {
  top: 16px;
  left: 560px;
  color: rgba(129, 129, 129, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container16 {
  top: 16px;
  left: 700px;
  width: 130px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.top-text29 {
  top: 0px;
  left: 0px;
  color: rgba(129, 129, 129, 1);
  right: 0px;
  width: 130px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container17 {
  top: 16px;
  left: 840px;
  width: 130px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.top-text31 {
  top: 0px;
  left: 0px;
  color: rgb(129, 129, 129);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container18 {
  top: 34px;
  left: 0px;
  right: 0px;
  width: 130px;
  height: 118px;
  display: none;
  box-shadow: 0px 0px 2px 0px #868686;
  border-color: #484848;
  justify-content: flex-start;
}
.top-container19 {
  top: 8px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100px;
  margin: auto;
  position: absolute;
}
.top-container20 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text32 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container21 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text33 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container22 {
  top: 50px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text34 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container23 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text35 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-text36 {
  top: 10px;
  left: 16px;
  color: rgb(28, 154, 255);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.bottom-bottom {
  width: 100%;
  height: 264px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.bottom-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  height: 264px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.bottom-text {
  left: 00px;
  color: rgba(122, 122, 122, 1);
  right: 0px;
  bottom: 10px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 167.99999475479126%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-frame-bg {
  left: 0px;
  width: 182px;
  bottom: 43px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.bottom-text02 {
  top: 24px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text03 {
  top: 55px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text04 {
  top: 86px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text05 {
  top: 116px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-icontele2 {
  top: 18px;
  right: 18px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.bottom-frame18 {
  top: 9px;
  left: 252px;
  width: 946px;
  height: 134px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.bottom-text06 {
  top: 18px;
  left: 183px;
  color: rgb(28, 154, 255);
  width: 60%;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text07 {
  top: 15px;
  left: 62px;
  color: rgb(28, 154, 255);
  width: 150px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-navlink {
  display: contents;
}
.bottom-headsetundefined-glyphundefined {
  top: 11px;
  left: 17px;
  width: 29px;
  height: 32px;
  position: absolute;
  text-decoration: none;
}
.bottom-text08 {
  top: 20px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  bottom: 217px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.java-code-p-main-code-embed {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}


















.ae-over-night-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ae-over-night-sub-menu {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  position: relative;
  margin-top: 136px;
  align-items: flex-start;
}
.ae-over-night-small-header {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1481px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.ae-over-night-frame33 {
  top: 25px;
  left: 0px;
  width: 168px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: stretch;
  flex-shrink: 0;
  border-color: rgba(28, 154, 255, 1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 4px;
}
.ae-over-night-text {
  top: -4px;
  color: rgb(28, 154, 255);
  width: 168px;
  height: 34px;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.ae-over-night-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ae-over-night-space {
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-start;
}
.ae-over-night-table-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ae-over-night-table-title {
  width: 1536px;
  height: 80px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-notice {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: center;
  flex-shrink: 0;
}
.ae-over-night-text01 {
  top: 45px;
  left: 18px;
  color: rgb(0, 0, 0);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-table-top {
  width: 1536px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-rectangle {
  width: 1500px;
  height: 40px;
  align-self: center;
  border-color: rgba(121, 142, 159, 1);
}
.ae-over-night-container02 {
  top: 0px;
  width: 1500px;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ae-over-night-text02 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text03 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text04 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text05 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text06 {
  color: var(--dl-color-primary-300);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-container03 {
  flex: 0 0 auto;
  width: 1500px;
  height: 80px;
  display: none;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ae-over-night-text07 {
  color: rgb(110, 110, 110);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-container04 {
  flex: 0 0 auto;
  width: 1500px;
  height: 80px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ae-over-night-text08 {
  color: rgb(110, 110, 110);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-table-list {
  display: flex;
  flex-direction: column;
}
.ae-over-night-container05 {
  width: 1500px;
  display: flex;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-line-white {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-bg {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ae-over-night-text09 {
  top: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ae-over-night-text10 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text11 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text12 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text13 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text14 {
  color: var(--dl-color-primary-300);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-line-end {
  width: 1536px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-bg1 {
  width: 1500px;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.ae-over-night-page {
  width: 1536px;
  height: 35px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-space1 {
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-start;
}
.ae-over-night-table-21 {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.ae-over-night-table-title1 {
  width: 1536px;
  height: 80px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-notice1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: center;
  flex-shrink: 0;
}
.ae-over-night-text15 {
  top: 45px;
  left: 18px;
  color: rgb(0, 0, 0);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-table-top1 {
  width: 1536px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-rectangle1 {
  width: 1500px;
  height: 40px;
  align-self: center;
  border-color: rgba(121, 142, 159, 1);
}
.ae-over-night-container06 {
  top: 0px;
  width: 1500px;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ae-over-night-text16 {
  color: rgb(0, 0, 0);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text17 {
  color: rgb(0, 0, 0);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text18 {
  color: rgb(0, 0, 0);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text19 {
  color: rgb(0, 0, 0);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-line-white1 {
  width: 1536px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-bg2 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ae-over-night-text20 {
  top: 0px;
  width: 1500px;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ae-over-night-text21 {
  color: var(--dl-color-gray-500);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text22 {
  color: var(--dl-color-gray-500);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text23 {
  color: var(--dl-color-gray-500);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text24 {
  color: var(--dl-color-gray-500);
  width: 35%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-container07 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1500px;
  bottom: 1px;
  height: 40px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ae-over-night-text25 {
  color: rgb(110, 110, 110);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-line-end1 {
  width: 1536px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-bg3 {
  width: 1500px;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.ae-over-night-space2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.ae-over-night-container08 {
  top: 10px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1500px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.ae-over-night-container09 {
  top: 0px;
  right: 0px;
  width: 380px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.ae-over-night-text26 {
  top: 14px;
  left: 0px;
  color: rgba(28, 154, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-navlink {
  display: contents;
}
.ae-over-night-frame134 {
  top: 0px;
  left: 189px;
  width: 191px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(28, 154, 255, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
.ae-over-night-frame18 {
  top: 6px;
  left: 7px;
  width: 150px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.ae-over-night-text28 {
  top: 1px;
  color: rgba(28, 154, 255, 1);
  right: -32px;
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-headsetundefined-glyphundefined {
  top: -1px;
  left: 2px;
  width: 29px;
  height: 32px;
  position: absolute;
}
.ae-over-night-table-22 {
  width: 100%;
  display: none;
  flex-direction: column;
}
.ae-over-night-table-title2 {
  width: 1536px;
  height: 80px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-notice2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: center;
  flex-shrink: 0;
}
.ae-over-night-text30 {
  top: 45px;
  left: 18px;
  color: rgb(0, 0, 0);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-table-top2 {
  width: 1536px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-rectangle2 {
  width: 1500px;
  height: 40px;
  align-self: center;
  border-color: rgba(121, 142, 159, 1);
}
.ae-over-night-container10 {
  top: 0px;
  width: 1500px;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ae-over-night-text31 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text32 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text33 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text34 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text35 {
  color: var(--dl-color-primary-300);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-container11 {
  flex: 0 0 auto;
  width: 1500px;
  height: 80px;
  display: none;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ae-over-night-text36 {
  color: rgb(110, 110, 110);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-container12 {
  flex: 0 0 auto;
  width: 1500px;
  height: 80px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ae-over-night-text37 {
  color: rgb(110, 110, 110);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-table-list1 {
  display: flex;
  flex-direction: column;
}
.ae-over-night-line-white2 {
  width: 1500px;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-bg4 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ae-over-night-text38 {
  top: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ae-over-night-text39 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text40 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text41 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text42 {
  color: var(--dl-color-gray-500);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-text43 {
  color: var(--dl-color-primary-300);
  width: 20%;
  height: fit-content;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-line-end2 {
  width: 1536px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-bg5 {
  width: 1500px;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.ae-over-night-page1 {
  width: 1536px;
  height: 35px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.ae-over-night-text44 {
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.ae-over-night-container13 {
  flex: 0 0 auto;
  width: 1536px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.ae-over-night-navlink1 {
  display: contents;
}
.ae-over-night-frame5 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 588px;
  bottom: 0px;
  height: 61px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  text-decoration: none;
  background-color: rgba(28, 154, 255, 1);
}
.ae-over-night-text45 {
  top: 21px;
  left: 86px;
  color: rgba(255, 255, 255, 1);
  width: 414px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.ae-over-night-space3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.ae-over-night-java-code-personal {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: -100;
  align-items: flex-start;
  flex-direction: column;
}
.ae-over-night-for-common-info {
  display: flex;
}
.ae-over-night-text47 {
  display: none;
}
.ae-over-night-text48 {
  display: none;
}
.ae-over-night-text49 {
  display: none;
}
