.top-top {
  top: 0px;
  flex: auto;
  left: 0px;
  right: 0px;
  width: 1600px;
  height: 112px;
  margin: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.top-container {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  background-image: linear-gradient(180deg, rgb(236, 236, 236) 0.00%,rgb(255, 255, 255) 99.00%,rgba(240, 240, 240, 0.03) 0.00%);
}
.top-container01 {
  top: 7px;
  left: 36px;
  width: 1173px;
  height: 23px;
  display: flex;
  position: absolute;
}
.top-group29 {
  top: 0px;
  left: 0px;
  width: 237px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text01 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text02 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-group30 {
  top: 0px;
  left: 317px;
  width: 222px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.49999570846558%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text05 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text06 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-group31 {
  top: 0px;
  right: 303px;
  width: 236px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text07 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text08 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text09 {
  color: rgb(0, 117, 255);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-group311 {
  top: 0px;
  right: 0px;
  width: 222px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.top-text10 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text11 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.top-text12 {
  color: rgb(255, 27, 27);
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 4px;
  text-decoration: none;
}
.top-container02 {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(120, 120, 120, 0.4);
}
.top-container03 {
  top: 34px;
  left: 0px;
  right: 0px;
  width: 130px;
  height: 66px;
  display: none;
  box-shadow: 0px 0px 2px 0px #868686;
  border-color: #484848;
  justify-content: flex-start;
}
.top-container04 {
  top: 8px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  margin: auto;
  display: none;
  position: absolute;
}
.top-container05 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  display: none;
  position: absolute;
  text-decoration: none;
}
.top-text13 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  display: none;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container06 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 25px;
  display: none;
  position: absolute;
  text-decoration: none;
}
.top-text14 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  display: none;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-top1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  height: 74px;
  margin: auto;
  display: flex;
  position: absolute;
  flex-shrink: 0;
  background-color: #ffffff;
}
.top-frame26 {
  top: 0px;
  right: 0px;
  width: auto;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.top-container07 {
  width: 273.0625px;
  height: 23.212499618530273px;
  display: flex;
  align-self: center;
  margin-top: 14px;
  align-items: center;
  margin-right: 10px;
}
.top-text15 {
  color: rgb(110, 110, 110);
  width: 150px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-text16 {
  color: rgb(110, 110, 110);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  margin-top: 4px;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.top-container08 {
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: 10px;
}
.top-navlink02 {
  display: contents;
}
.top-group7 {
  width: 60px;
  height: 53px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.top-icon {
  fill: var(--dl-color-gray-500);
  width: 30px;
  height: 30px;
  margin-top: 3px;
}
.top-text17 {
  color: var(--dl-color-gray-500);
  width: 80%;
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.top-navlink03 {
  display: contents;
}
.top-group71 {
  width: 60px;
  height: 53px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 1;
  margin-right: 0%;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.top-icon2 {
  fill: var(--dl-color-gray-500);
  width: 37px;
  height: 36px;
}
.top-text18 {
  color: var(--dl-color-gray-500);
  width: 80%;
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.top-navlink04 {
  display: contents;
}
.top-group72 {
  width: 55px;
  height: 50px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 1;
  margin-right: 0%;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.top-icon4 {
  fill: var(--dl-color-gray-500);
  width: 36px;
  height: 36px;
}
.top-text19 {
  color: var(--dl-color-gray-500);
  width: 80%;
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  margin-left: 6px;
  font-stretch: normal;
  text-decoration: none;
}
.top-container09 {
  flex: 1;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: 1px;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(120, 120, 120, 0.4);
}
.top-frame13 {
  top: 10px;
  left: 18px;
  width: 986px;
  height: 50px;
  display: flex;
  overflow: visible;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.top-container10 {
  all: blocks;
  top: 16px;
  left: 280px;
  width: 130px;
  height: 45px;
  position: absolute;
  align-items: flex-start;
}
.top-text20 {
  top: 0px;
  color: rgba(129, 129, 129, 1);
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container11 {
  height: 91px;
  display: none;
  box-shadow: 0px 0px 2px 0px #868686;
  border-color: #484848;
  justify-content: flex-start;
}
.top-container12 {
  top: 8px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 74px;
  margin: auto;
  position: absolute;
}
.top-container13 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text22 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container14 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text23 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container15 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text24 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-text25 {
  top: 16px;
  left: 420px;
  color: rgba(129, 129, 129, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-text27 {
  top: 16px;
  left: 560px;
  color: rgba(129, 129, 129, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container16 {
  top: 16px;
  left: 700px;
  width: 130px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.top-text29 {
  top: 0px;
  left: 0px;
  color: rgba(129, 129, 129, 1);
  right: 0px;
  width: 130px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container17 {
  top: 16px;
  left: 840px;
  width: 130px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.top-text31 {
  top: 0px;
  left: 0px;
  color: rgb(129, 129, 129);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.top-container18 {
  top: 34px;
  left: 0px;
  right: 0px;
  width: 130px;
  height: 118px;
  display: none;
  box-shadow: 0px 0px 2px 0px #868686;
  border-color: #484848;
  justify-content: flex-start;
}
.top-container19 {
  top: 8px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100px;
  margin: auto;
  position: absolute;
}
.top-container20 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text32 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container21 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text33 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container22 {
  top: 50px;
  left: 0px;
  width: 100%;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text34 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-container23 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.top-text35 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.top-text36 {
  top: 10px;
  left: 16px;
  color: rgb(28, 154, 255);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.user-info-user-info {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
}
.user-info-frame15 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-info-container {
  top: 15px;
  left: 28px;
  width: 290px;
  height: 20.637500762939453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.user-info-text {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-text1 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text2 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-container1 {
  top: 14px;
  left: 396px;
  width: 900px;
  height: 26.375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: space-between;
}
.user-info-container2 {
  width: 300px;
  height: 26.375px;
  display: flex;
  align-items: flex-start;
}
.user-info-app-titleundefined-glyphundefined {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}
.user-info-text3 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text4 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-container3 {
  width: 300px;
  height: 26.375px;
  display: flex;
  align-items: flex-start;
}
.user-info-app-titleundefined-glyphundefined1 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}
.user-info-text5 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text6 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-container4 {
  width: 300px;
  height: 26.375px;
  display: flex;
  align-items: flex-start;
}
.user-info-app-titleundefined-glyphundefined2 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}
.user-info-text7 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  margin-left: 10px;
  font-stretch: normal;
  margin-right: 10px;
  text-decoration: none;
}
.user-info-text8 {
  color: rgb(97, 97, 97);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}


.bottom-bottom {
  width: 100%;
  height: 264px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.bottom-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  height: 264px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.bottom-text {
  left: 00px;
  color: rgba(122, 122, 122, 1);
  right: 0px;
  bottom: 10px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 167.99999475479126%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-frame-bg {
  left: 0px;
  width: 182px;
  bottom: 43px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.bottom-text02 {
  top: 24px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text03 {
  top: 55px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text04 {
  top: 86px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text05 {
  top: 116px;
  left: 18px;
  color: rgb(24, 24, 24);
  width: 80%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-icontele2 {
  top: 18px;
  right: 18px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.bottom-frame18 {
  top: 9px;
  left: 252px;
  width: 946px;
  height: 134px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.bottom-text06 {
  top: 18px;
  left: 183px;
  color: rgb(28, 154, 255);
  width: 60%;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-text07 {
  top: 15px;
  left: 62px;
  color: rgb(28, 154, 255);
  width: 150px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bottom-navlink {
  display: contents;
}
.bottom-headsetundefined-glyphundefined {
  top: 11px;
  left: 17px;
  width: 29px;
  height: 32px;
  position: absolute;
  text-decoration: none;
}
.bottom-text08 {
  top: 20px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  bottom: 217px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.java-code-p-main-code-embed {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}


















.java-code-popup-modal-code-embed {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}














.ag-bank2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ag-bank2-sub-menu {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  position: relative;
  margin-top: 136px;
  align-items: flex-start;
}
.ag-bank2-small-header {
  top: 5px;
  left: 0px;
  right: 0px;
  width: 1481px;
  height: 50px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #6d6d6d;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.ag-bank2-frame31 {
  top: 20px;
  left: 0px;
  width: 128px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: stretch;
  flex-shrink: 0;
}
.ag-bank2-text {
  top: -4px;
  width: 128px;
  height: 34px;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-frame32 {
  top: 20px;
  left: 172px;
  width: 128px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: stretch;
  flex-shrink: 0;
  border-color: rgb(28, 154, 255);
  border-width: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.ag-bank2-text01 {
  top: -4px;
  color: rgb(28, 154, 255);
  width: 128px;
  height: 34px;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-frame33 {
  top: 20px;
  left: 334px;
  width: 128px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: stretch;
  flex-shrink: 0;
}
.ag-bank2-text02 {
  top: -4px;
  color: rgb(0, 0, 0);
  width: 128px;
  height: 34px;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-frame331 {
  top: 20px;
  left: 490px;
  width: 128px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: stretch;
  flex-shrink: 0;
}
.ag-bank2-text03 {
  top: -4px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 128px;
  height: 34px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-space {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
}
.ag-bank2-middle-title {
  flex: 0 0 auto;
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
}
.ag-bank2-frame13 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-start;
}
.ag-bank2-notice {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.ag-bank2-table {
  top: 50px;
  left: 0px;
  width: 1536px;
  bottom: 0px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
}
.ag-bank2-rectangle {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1481px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: rgba(121, 142, 159, 1);
  border-radius: 1px 1px 0 0;
}
.ag-bank2-container1 {
  top: 17px;
  left: 598px;
  width: 755px;
  height: 476px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.ag-bank2-text04 {
  top: 0px;
  left: 2px;
  color: rgb(94, 94, 94);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text05 {
  top: 71px;
  left: 2px;
  color: var(--dl-color-primary-100);
  width: 507px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: bold;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text06 {
  top: 101px;
  left: 32px;
  color: rgb(0, 0, 0);
  width: 507px;
  height: auto;
  display: none;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text07 {
  top: 141px;
  left: 2px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-container2 {
  top: 196px;
  left: 0px;
  width: 100%;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.ag-bank2-text08 {
  top: 15px;
  left: 228px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-input-id {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 47px;
  position: absolute;
  font-size: 20px;
  text-align: right;
  border-width: 0px;
  padding-right: 15px;
  background-color: rgba(244, 244, 244, 1);
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.ag-bank2-textarea {
  left: 0px;
  width: 755px;
  bottom: 0px;
  height: 210px;
  position: absolute;
  font-size: 20px;
  line-height: 1.8;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(244, 244, 244, 1);
}
.ag-bank2-frame142 {
  top: 18px;
  left: 433px;
  width: 104px;
  height: 298px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.ag-bank2-text09 {
  top: -1px;
  left: -3px;
  color: rgba(143, 143, 143, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text11 {
  top: 70px;
  left: -118px;
  color: var(--dl-color-primary-100);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text13 {
  top: 140px;
  left: -39px;
  color: rgba(143, 143, 143, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text15 {
  top: 210px;
  left: -39px;
  color: rgba(143, 143, 143, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text17 {
  top: 280px;
  left: 31px;
  color: rgba(143, 143, 143, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text19 {
  top: 13px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-frame5 {
  top: 590px;
  left: 474px;
  width: 588px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: rgba(28, 154, 255, 1);
}
.ag-bank2-text21 {
  top: 21px;
  left: 230px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-middle-title1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.ag-bank2-frame131 {
  width: 1536px;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.ag-bank2-frame144 {
  width: 1481px;
  height: 100%;
  display: flex;
  overflow: scroll;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(234, 234, 234, 1);
}
.ag-bank2-text23 {
  color: rgb(35, 35, 35);
  width: 100%;
  height: fit-content;
  font-size: 16px;
  font-style: normal;
  margin-top: 30px;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  margin-left: 30px;
  font-stretch: normal;
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}
.ag-bank2-text24 {
  font-size: 20px;
  font-weight: 700;
}
.ag-bank2-text25 {
  font-weight: 700;
}
.ag-bank2-text26 {
  font-weight: 700;
}
.ag-bank2-text27 {
  font-weight: 700;
}
.ag-bank2-text30 {
  font-weight: 700;
}
.ag-bank2-text39 {
  font-weight: 700;
}
.ag-bank2-space1 {
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-start;
}
.ag-bank2-modal1 {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
}
.ag-bank2-frame000-member-tos {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 640px;
  bottom: 0px;
  height: 450px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.5) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.ag-bank2-rectangle2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 45px;
  margin: auto;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ag-bank2-info {
  top: 6px;
  left: 13px;
  width: 36px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.ag-bank2-union {
  top: 5.3125px;
  left: 5.625px;
  width: 25px;
  height: 23px;
  position: absolute;
}
.ag-bank2-text43 {
  top: 8px;
  left: 54px;
  color: rgb(0, 0, 0);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-container3 {
  top: 200px;
  left: 0px;
  right: 0px;
  width: 640px;
  height: 30.234375px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.ag-bank2-text44 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 22px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text47 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 22px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text50 {
  top: 120px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 640px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text51 {
  top: 280px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 640px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-container4 {
  top: 387px;
  left: 0px;
  right: 0px;
  width: 313px;
  height: 39px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.ag-bank2-button {
  top: 0px;
  left: 0px;
  color: rgb(28, 154, 255);
  width: 155px;
  height: 39px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-color: rgb(28, 154, 255);
  border-width: 1px;
  background-color: transparent;
}
.ag-bank2-button1 {
  top: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 155px;
  height: 39px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  background-color: rgb(28, 154, 255);
}
.ag-bank2-modal2 {
  top: 50%;
  left: 50%;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
}
.ag-bank2-frame000-member-tos1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 640px;
  bottom: 0px;
  height: 450px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.5) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.ag-bank2-rectangle21 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 45px;
  margin: auto;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ag-bank2-info1 {
  top: 6px;
  left: 13px;
  width: 36px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.ag-bank2-union1 {
  top: 5.3125px;
  left: 5.625px;
  width: 25px;
  height: 23px;
  position: absolute;
}
.ag-bank2-text52 {
  top: 8px;
  left: 54px;
  color: rgb(0, 0, 0);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-text53 {
  top: 205px;
  color: rgb(0, 0, 0);
  width: 640px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.ag-bank2-button2 {
  top: top;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 148px;
  bottom: var(--dl-space-space-oneandhalfunits);
  height: 39px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  background-color: rgb(28, 154, 255);
}
.ag-bank2-java-code-personal {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: -100;
  align-items: flex-start;
  flex-direction: column;
}
.ag-bank2-for-common-info {
  display: flex;
}
.ag-bank2-text54 {
  display: none;
}
.ag-bank2-text55 {
  display: none;
}
.ag-bank2-text56 {
  display: none;
}
.ag-bank2-modalfortemp {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
}
.ag-bank2-icontele2 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
.ag-bank2-icontele21 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
.ag-bank2-icontele22 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
