.mobile-top-inner-infos-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.mobile-top-inner-infos-container1 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.mobile-top-inner-infos-container2 {
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: 12px;
  margin-bottom: 2px;
  justify-content: flex-end;
}
.mobile-top-inner-infos-navlink {
  display: contents;
}
.mobile-top-inner-infos-group7 {
  width: 36px;
  height: 30px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.mobile-top-inner-infos-icon {
  fill: var(--dl-color-gray-500);
  width: 20px;
  height: 17px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.mobile-top-inner-infos-navlink1 {
  display: contents;
}
.mobile-top-inner-infos-group71 {
  width: 30px;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.mobile-top-inner-infos-icon2 {
  fill: var(--dl-color-gray-500);
  width: 23px;
  height: 24px;
  margin-top: 1px;
}

.java-code-popup-modal-code-embed {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}














.java-code-mobile-main-code-embed {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}
























.mb-main-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
.mb-main-top {
  flex: 0 0 auto;
  width: 100%;
  height: 37px;
  display: flex;
  z-index: 1;
  position: fixed;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mb-main-text {
  top: 9px;
  left: 12px;
  color: rgba(6, 6, 6, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-frame149 {
  top: 35px;
  left: 0px;
  width: 100%;
  height: 2px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #b3c6d6;
}
.mb-main-frame148 {
  top: 34px;
  left: 0px;
  width: 100%;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #50749c;
}
.mb-main-top-blink {
  flex: 0 0 auto;
  width: 100%;
  height: 37px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-uer-info {
  flex: 0 0 auto;
  width: 100%;
  height: 168px;
  display: flex;
  flex-direction: column;
  background-color: #0f1a1e;
}
.mb-main-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 21px;
  display: flex;
  position: relative;
  margin-top: 14px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.mb-main-container02 {
  width: 51%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  margin-left: 4.5%;
  justify-content: flex-start;
}
.mb-main-text002 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text003 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 9px;
  align-self: flex-end;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.5%;
  font-stretch: normal;
  margin-bottom: 2px;
  text-decoration: none;
}
.mb-main-navlink {
  display: contents;
}
.mb-main-group7 {
  width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  margin-left: 2%;
  margin-right: 1%;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba(38, 125, 255, 1);
}
.mb-main-icon {
  fill: var(--dl-color-gray-white);
  width: 14px;
  height: 14px;
  margin-left: 4%;
}
.mb-main-text004 {
  color: var(--dl-color-gray-white);
  width: 80%;
  height: fit-content;
  font-size: 11px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-navlink01 {
  display: contents;
}
.mb-main-group71 {
  width: 60px;
  height: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  margin-right: 4%;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba(38, 125, 255, 1);
}
.mb-main-icon02 {
  fill: var(--dl-color-gray-white);
  width: 14px;
  height: 14px;
  margin-left: 2px;
}
.mb-main-text005 {
  color: var(--dl-color-gray-white);
  width: 80%;
  height: fit-content;
  font-size: 11px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 34px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.mb-main-top-sub-info {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-container04 {
  top: 17px;
  right: 5%;
  width: 46%;
  height: 13.600000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.mb-main-icon04 {
  fill: rgb(187, 214, 216);
  width: 12px;
  height: 12px;
  margin-top: 1px;
  margin-left: 2px;
}
.mb-main-text006 {
  color: rgb(187, 214, 216);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 3px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text007 {
  color: rgb(187, 214, 216);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container05 {
  top: 2px;
  left: 5%;
  width: 46%;
  height: 13.600000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.mb-main-icon06 {
  fill: rgb(187, 214, 216);
  width: 12px;
  height: 12px;
  margin-top: 1px;
  margin-left: 2px;
}
.mb-main-text008 {
  color: rgb(187, 214, 216);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 3px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text009 {
  color: rgb(187, 214, 216);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container06 {
  top: 17px;
  left: 5%;
  width: 46%;
  height: 13.600000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.mb-main-icon08 {
  fill: rgb(187, 214, 216);
  width: 12px;
  height: 12px;
  margin-top: 1px;
  margin-left: 2px;
}
.mb-main-text010 {
  color: rgb(187, 214, 216);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 3px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text011 {
  color: rgb(187, 214, 216);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.mb-main-frame {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  height: 86px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mb-main-navlink02 {
  display: contents;
}
.mb-main-container08 {
  top: 0px;
  left: 0px;
  width: 24.25%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(38, 125, 255, 1);
}
.mb-main-text012 {
  left: 0px;
  color: #ffffff;
  width: 100%;
  bottom: 20px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector {
  top: 28px;
  left: 0px;
  right: 0px;
  width: 26px;
  height: 18px;
  margin: auto;
  display: none;
  position: absolute;
}
.mb-main-rocketundefined-glyphundefined {
  top: 26px;
  left: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.mb-main-icon10 {
  fill: var(--dl-color-gray-white);
  right: 0px;
  width: 10px;
  bottom: 0px;
  height: 10px;
  position: absolute;
}
.mb-main-navlink03 {
  display: contents;
}
.mb-main-container09 {
  top: 0px;
  left: 25.25%;
  width: 24.25%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.mb-main-text013 {
  left: 0px;
  color: #4a4a4a;
  width: 100%;
  bottom: 20px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector01 {
  top: 28px;
  left: 0px;
  right: 0px;
  width: 19px;
  height: 19px;
  margin: auto;
  position: absolute;
}
.mb-main-icon12 {
  fill: var(--dl-color-gray-700);
  right: 0px;
  width: 10px;
  bottom: 0px;
  height: 10px;
  position: absolute;
}
.mb-main-navlink04 {
  display: contents;
}
.mb-main-container10 {
  top: 0px;
  right: 25.25%;
  width: 24.25%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.mb-main-text015 {
  left: 0px;
  color: #4a4a4a;
  width: 100%;
  bottom: 20px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector02 {
  top: 29px;
  left: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
}
.mb-main-icon14 {
  fill: var(--dl-color-gray-700);
  right: 0px;
  width: 10px;
  bottom: 0px;
  height: 10px;
  position: absolute;
}
.mb-main-navlink05 {
  display: contents;
}
.mb-main-container11 {
  top: 0px;
  right: 0px;
  width: 24.25%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.mb-main-text016 {
  left: 0px;
  color: #4a4a4a;
  width: 100%;
  bottom: 20px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector03 {
  top: 27px;
  left: 0px;
  right: 0px;
  width: 24px;
  height: 22px;
  margin: auto;
  position: absolute;
}
.mb-main-icon16 {
  fill: var(--dl-color-gray-700);
  right: 0px;
  width: 10px;
  bottom: 0px;
  height: 10px;
  position: absolute;
}
.mb-main-table-5-3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-table-title {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-text017 {
  left: 4%;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  bottom: 5px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table-top {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-rectangle {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  height: 25px;
  margin: auto;
  position: absolute;
  border-color: rgba(121, 142, 159, 1);
  border-radius: 1px 1px 0 0;
}
.mb-main-top-text {
  top: 3px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mb-main-text019 {
  color: rgb(0, 0, 0);
  width: 10%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text020 {
  color: #000000;
  width: 15%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text022 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text023 {
  color: rgb(0, 0, 0);
  width: 55%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table-alret {
  width: 92%;
  height: 90px;
  display: none;
  position: relative;
  align-self: center;
  flex-direction: column;
}
.mb-main-container12 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-danger-300);
}
.mb-main-text024 {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: fit-content;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 170%;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text026 {
  font-style: normal;
  font-weight: 400;
}
.mb-main-text027 {
  font-style: normal;
  font-weight: 400;
}
.mb-main-text028 {
  font-style: normal;
  font-weight: 400;
}
.mb-main-text029 {
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.mb-main-text030 {
  font-style: normal;
  font-weight: 400;
}
.mb-main-text031 {
  font-style: normal;
  font-weight: 400;
}
.mb-main-text032 {
  font-style: normal;
  font-weight: 400;
}
.mb-main-blank {
  flex: 0 0 auto;
  width: 92%;
  height: 40px;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: column;
}
.mb-main-text034 {
  top: 41px;
  left: 1px;
  color: rgb(0, 0, 0);
  width: 100%;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-container13 {
  width: 92%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-line-white {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-bg {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-white);
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
}
.mb-main-container14 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 25px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.mb-main-text037 {
  color: rgb(94, 94, 94);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text038 {
  color: rgb(94, 94, 94);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text039 {
  color: rgb(94, 94, 94);
  width: 60%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  padding-left: 16px;
  text-decoration: none;
}
.mb-main-end {
  flex: 0 0 auto;
  width: 92%;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.mb-main-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.mb-main-frame1 {
  left: 0px;
  right: 0px;
  width: 92%;
  height: 99px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mb-main-group72 {
  top: 0px;
  left: 0px;
  width: 49%;
  bottom: 0px;
  height: 72.55486297607422px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: #38b5ff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.mb-main-text040 {
  top: 31.350866317749023px;
  left: 18px;
  color: rgb(38, 125, 255);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text041 {
  top: 9.853129386901855px;
  left: 16px;
  color: rgb(96, 96, 96);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text042 {
  top: 47.47417068481445px;
  left: 18px;
  color: rgb(38, 125, 255);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-group73 {
  top: 0px;
  right: 0px;
  width: 49%;
  bottom: 0px;
  height: 72.55486297607422px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: #38b5ff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.mb-main-text043 {
  top: 31.350866317749023px;
  left: 18px;
  color: rgb(38, 125, 255);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text044 {
  top: 9.853129386901855px;
  left: 16px;
  color: rgba(96, 96, 96, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text046 {
  top: 47.47417068481445px;
  left: 18px;
  color: rgb(38, 125, 255);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table-5-5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-table-title1 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-text047 {
  left: 4%;
  color: rgb(0, 0, 0);
  width: 155px;
  bottom: 5px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table-top1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-rectangle1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  height: 25px;
  margin: auto;
  position: absolute;
  border-color: rgba(121, 142, 159, 1);
  border-radius: 1px 1px 0 0;
}
.mb-main-top-text1 {
  top: 3px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mb-main-text048 {
  color: rgb(0, 0, 0);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text049 {
  color: rgb(0, 0, 0);
  width: 30%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text050 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text051 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text052 {
  color: rgb(0, 0, 0);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-blank1 {
  flex: 0 0 auto;
  width: 92%;
  height: 40px;
  display: none;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.mb-main-text053 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container16 {
  flex: 0 0 auto;
  width: 92%;
  height: 40px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mb-main-text056 {
  color: rgb(110, 110, 110);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-container17 {
  width: 92%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-line-white1 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-bg1 {
  flex: 0 0 auto;
  width: 92%;
  height: 25px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-white);
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
}
.mb-main-container18 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  height: 25px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.mb-main-text057 {
  color: rgb(94, 94, 94);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text058 {
  color: rgb(94, 94, 94);
  width: 30%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-overflow: ellipsis;
}
.mb-main-text059 {
  color: rgb(94, 94, 94);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text060 {
  color: rgb(94, 94, 94);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text061 {
  color: rgb(94, 94, 94);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-end1 {
  flex: 0 0 auto;
  width: 92%;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.mb-main-page {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-table-5-51 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-table-title2 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-text062 {
  left: 4%;
  color: rgb(0, 0, 0);
  width: 155px;
  bottom: 5px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table-top2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-rectangle2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  height: 25px;
  margin: auto;
  position: absolute;
  border-color: rgba(121, 142, 159, 1);
  border-radius: 1px 1px 0 0;
}
.mb-main-top-text2 {
  top: 3px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 92%;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mb-main-text063 {
  color: rgb(0, 0, 0);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text064 {
  color: rgb(0, 0, 0);
  width: 30%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text065 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text066 {
  color: rgb(0, 0, 0);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text067 {
  color: rgb(0, 0, 0);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-blank2 {
  flex: 0 0 auto;
  width: 92%;
  height: 40px;
  display: none;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.mb-main-text068 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: fit-content;
  font-size: 10px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container19 {
  flex: 0 0 auto;
  width: 92%;
  height: 40px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: #dedede;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mb-main-text071 {
  color: rgb(110, 110, 110);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-table2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-container20 {
  width: 92%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-line-white2 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-bg2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-white);
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
}
.mb-main-container21 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 25px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.mb-main-text072 {
  color: rgb(94, 94, 94);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text073 {
  color: rgb(94, 94, 94);
  width: 30%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-overflow: ellipsis;
}
.mb-main-text074 {
  color: rgb(94, 94, 94);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text075 {
  color: rgb(94, 94, 94);
  width: 20%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text076 {
  color: rgb(94, 94, 94);
  width: 15%;
  height: fit-content;
  font-size: 10px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-end2 {
  flex: 0 0 auto;
  width: 92%;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.mb-main-page1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 86px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.mb-main-bottom {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mb-main-icontele2 {
  left: 0px;
  right: 0px;
  width: 30px;
  bottom: 25px;
  height: 30px;
  margin: auto;
  position: absolute;
}
.mb-main-text077 {
  left: 0px;
  color: rgb(122, 122, 122);
  right: 0px;
  width: 267px;
  bottom: 3px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 6px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 66px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-bottom-footer {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  bottom: 0px;
  height: 67px;
  display: flex;
  z-index: 10;
  overflow: hidden;
  position: fixed;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 1);
}
.mb-main-container24 {
  left: 1%;
  right: 0px;
  width: 96%;
  bottom: 0px;
  height: 66px;
  margin: auto;
  display: flex;
  position: absolute;
}
.mb-main-navlink06 {
  display: contents;
}
.mb-main-frame162 {
  top: 0px;
  left: 83%;
  right: 0px;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mb-main-text078 {
  top: 37px;
  left: 0px;
  color: rgba(143, 143, 143, 1);
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector04 {
  top: 10px;
  left: 0px;
  right: 0px;
  width: 25px;
  height: 28px;
  margin: auto;
  position: absolute;
}
.mb-main-navlink07 {
  display: contents;
}
.mb-main-frame161 {
  top: 0px;
  left: 66.4%;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mb-main-text080 {
  top: 37px;
  left: 0px;
  color: rgba(143, 143, 143, 1);
  right: 0px;
  width: 56px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector05 {
  top: 12px;
  left: 0px;
  right: 0px;
  width: 23px;
  height: 27px;
  margin: auto;
  position: absolute;
}
.mb-main-navlink08 {
  display: contents;
}
.mb-main-frame160 {
  top: 0px;
  left: 49.8%;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mb-main-text082 {
  top: 37px;
  left: 0px;
  color: rgba(143, 143, 143, 1);
  right: 0px;
  width: 57px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector06 {
  top: 13px;
  left: 0px;
  right: 0px;
  width: 27px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.mb-main-navlink09 {
  display: contents;
}
.mb-main-frame159 {
  top: 0px;
  left: 33.2%;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mb-main-text084 {
  top: 37px;
  left: 0px;
  color: rgba(143, 143, 143, 1);
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector07 {
  top: 13px;
  left: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.mb-main-navlink10 {
  display: contents;
}
.mb-main-frame158 {
  top: 0px;
  left: 16.6%;
  width: 16.6%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mb-main-text086 {
  top: 37px;
  left: 0px;
  color: rgba(143, 143, 143, 1);
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector08 {
  top: 12px;
  left: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  margin: auto;
  position: absolute;
}
.mb-main-navlink11 {
  display: contents;
}
.mb-main-frame157 {
  top: 0px;
  left: 0px;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.mb-main-text088 {
  top: 37px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-vector09 {
  top: 14px;
  left: 0px;
  right: 0px;
  width: 24px;
  height: 25px;
  margin: auto;
  position: absolute;
}
.mb-main-frame156 {
  width: 100%;
  height: 1px;
  display: flex;
  overflow: hidden;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(166, 166, 166, 1);
}
.mb-main-modal1 {
  top: 50%;
  left: 50%;
  right: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  overflow: hidden;
  position: fixed;
  transform: translate(-50%, -50%);
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
}
.mb-main-container25 {
  width: 92%;
  height: 296px;
  display: flex;
  box-shadow: 2px 2px 2px 0px #8e8e8e;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.mb-main-container26 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.mb-main-text089 {
  color: rgba(0, 0, 0, 1);
  width: 50%;
  height: auto;
  font-size: 12px;
  font-style: Bold;
  margin-top: 10px;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  margin-left: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text091 {
  color: rgb(28, 154, 255);
  width: 40%;
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  text-decoration: none;
}
.mb-main-container27 {
  flex: 0 0 auto;
  width: 94%;
  height: 1px;
  display: flex;
  align-self: center;
  margin-top: 5px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
.mb-main-container28 {
  width: 92%;
  height: 210px;
  display: flex;
  overflow: auto;
  align-self: center;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
}
.mb-main-text093 {
  color: rgb(64, 64, 64);
  width: 100%;
  height: 100%;
  font-size: 10px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 180%;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-frame6 {
  width: 25%;
  height: 25px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: 5px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 154, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.mb-main-text114 {
  color: rgb(28, 154, 255);
  height: fit-content;
  font-size: 11px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-modal2 {
  top: 50%;
  left: 50%;
  right: 0px;
  width: 85%;
  height: 350px;
  display: none;
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -50%);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.mb-main-m0-popup0-login-error {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 350px;
  margin: auto;
  display: flex;
  overflow: auto;
  position: fixed;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.mb-main-container29 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 43px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(28, 154, 255, 1);
}
.mb-main-icon18 {
  top: 10px;
  fill: #ffffff;
  left: 0px;
  right: 130px;
  width: 24px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.mb-main-frame5 {
  left: 0px;
  right: 0px;
  width: 50%;
  bottom: 15px;
  height: 33px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: rgba(28, 154, 255, 1);
}
.mb-main-text115 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text117 {
  top: 12px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 50%;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-text118 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 267px;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inder;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mb-main-container30 {
  left: 0px;
  right: 0px;
  width: 110px;
  bottom: 59px;
  height: 23.375px;
  margin: auto;
  display: none;
  position: absolute;
  align-items: flex-end;
  justify-content: flex-start;
}
.mb-main-text136 {
  top: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 90px;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inder;
  font-weight: 400;
  line-height: 168%;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  font-stretch: normal;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.mb-main-checkbox {
  top: 0px;
  left: 0px;
  width: 18px;
  bottom: 0px;
  height: 18px;
  margin: auto;
  opacity: 0.8;
  position: absolute;
}
.mb-main-java-code-personal {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: -100;
  align-items: flex-start;
  flex-direction: column;
}
.mb-main-text137 {
  display: none;
}
.mb-main-text138 {
  display: none;
}
.mb-main-text139 {
  display: none;
}
.mb-main-modalfortemp {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
}
.mb-main-icontele21 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
.mb-main-icontele22 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
.mb-main-icontele23 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
@media(max-width: 400px) {
  .mb-main-text059 {
    text-decoration: none;
  }
  .mb-main-text060 {
    text-decoration: none;
  }
  .mb-main-text074 {
    text-decoration: none;
  }
}
