.mobile-top-inner-infos-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.mobile-top-inner-infos-container1 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.mobile-top-inner-infos-container2 {
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: 12px;
  margin-bottom: 2px;
  justify-content: flex-end;
}
.mobile-top-inner-infos-navlink {
  display: contents;
}
.mobile-top-inner-infos-group7 {
  width: 36px;
  height: 30px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.mobile-top-inner-infos-icon {
  fill: var(--dl-color-gray-500);
  width: 20px;
  height: 17px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.mobile-top-inner-infos-navlink1 {
  display: contents;
}
.mobile-top-inner-infos-group71 {
  width: 30px;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.mobile-top-inner-infos-icon2 {
  fill: var(--dl-color-gray-500);
  width: 23px;
  height: 24px;
  margin-top: 1px;
}

.user-info-mobile-user-info-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.user-info-mobile-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.user-info-mobile-container1 {
  width: 46%;
  height: 13.600000381469727px;
  display: flex;
  margin-top: 5px;
  align-items: flex-start;
  margin-left: 4%;
  justify-content: flex-start;
}
.user-info-mobile-text {
  color: rgb(94, 94, 94);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-mobile-text1 {
  color: rgb(94, 94, 94);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-mobile-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.user-info-mobile-container3 {
  width: 46%;
  height: 13.600000381469727px;
  display: flex;
  align-items: flex-start;
  margin-left: 4%;
  justify-content: flex-start;
}
.user-info-mobile-text2 {
  color: rgb(94, 94, 94);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-mobile-text3 {
  color: rgb(94, 94, 94);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-mobile-container4 {
  width: 46%;
  height: 13.600000381469727px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  justify-content: flex-end;
}
.user-info-mobile-text4 {
  color: rgb(94, 94, 94);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-info-mobile-text5 {
  color: rgb(94, 94, 94);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  font-stretch: normal;
  text-decoration: none;
}

.java-code-popup-modal-code-embed {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}














.java-code-mobile-main-code-embed {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}
























.mg-bank3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mg-bank3-top {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 38px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: rgba(255, 255, 255, 1);
}
.mg-bank3-frame149 {
  top: 35px;
  left: 0px;
  width: 100%;
  height: 2px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #b3c6d6;
}
.mg-bank3-frame148 {
  top: 34px;
  left: 0px;
  width: 100%;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #50749c;
}
.mg-bank3-navlink {
  display: contents;
}
.mg-bank3-container01 {
  top: 0px;
  left: 0px;
  width: 180px;
  height: 34px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
}
.mg-bank3-text {
  top: 9px;
  left: 25px;
  color: rgb(6, 6, 6);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-icon {
  top: 13px;
  left: 10px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.mg-bank3-top-sub {
  top: 37px;
  left: 0px;
  width: 100%;
  height: 32px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mg-bank3-container02 {
  width: 100%;
  height: 27px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mg-bank3-text01 {
  top: 8px;
  left: 4%;
  color: var(--dl-color-gray-500);
  width: 23%;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text02 {
  top: 8px;
  left: 27%;
  color: var(--dl-color-gray-500);
  width: 23%;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text03 {
  top: 8px;
  left: 50%;
  color: rgb(28, 154, 255);
  width: 23%;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text04 {
  top: 8px;
  left: 73%;
  color: var(--dl-color-gray-500);
  width: 23%;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-frame156 {
  width: 100%;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.mg-bank3-container03 {
  top: 0px;
  left: 50%;
  width: 23%;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: rgb(28, 154, 255);
}
.mg-bank3-frame1561 {
  width: 100%;
  height: 1px;
  display: flex;
  overflow: hidden;
  align-self: flex-end;
  flex-shrink: 0;
  background-color: rgba(204, 204, 204, 1);
}
.mg-bank3-top-blink-sub-include {
  flex: 0 0 auto;
  width: 100%;
  height: 69px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mg-bank3-m0-bank03 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mg-bank3-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 11px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mg-bank3-frame135 {
  width: 100%;
  height: 260px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.mg-bank3-container05 {
  top: 4px;
  left: 0px;
  right: 0px;
  width: 92%;
  height: 265.5px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.mg-bank3-rectangle {
  top: 29px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 25px;
  margin: auto;
  position: absolute;
  border-color: rgba(159, 121, 139, 1);
  border-radius: 1px 1px 0 0;
}
.mg-bank3-group23 {
  top: 35px;
  left: 0px;
  width: 25%;
  height: 138px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mg-bank3-text05 {
  top: 29px;
  color: rgb(94, 94, 94);
  right: 0px;
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text06 {
  color: rgba(94, 94, 94, 1);
  right: 0px;
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text08 {
  top: 58px;
  color: rgb(94, 94, 94);
  right: 0px;
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text09 {
  top: 87px;
  color: rgb(94, 94, 94);
  right: 0px;
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text10 {
  top: 125px;
  color: rgba(94, 94, 94, 1);
  right: 0px;
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-group24 {
  top: 29px;
  right: 0px;
  width: 70%;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.mg-bank3-text12 {
  top: 35px;
  left: 0px;
  color: rgb(94, 94, 94);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text13 {
  top: 6px;
  left: 0px;
  color: rgb(94, 94, 94);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text14 {
  top: 64px;
  left: 0px;
  color: rgb(94, 94, 94);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text15 {
  top: 97px;
  left: 0px;
  color: rgba(94, 94, 94, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-textarea {
  top: 120px;
  left: 0px;
  width: 100%;
  height: 100px;
  position: absolute;
  font-size: 10px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(244, 244, 244, 1);
}
.mg-bank3-input-id {
  top: 89px;
  left: 0px;
  width: 95px;
  height: 22px;
  margin: auto;
  position: absolute;
  font-size: 10px;
  text-align: right;
  padding-top: 4px;
  border-width: 1px;
  padding-left: 4px;
  border-radius: 2px;
  padding-right: 4px;
  padding-bottom: 4px;
  background-color: #ededed;
}
.mg-bank3-text16 {
  top: 10px;
  left: 4%;
  color: rgb(0, 0, 0);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-container06 {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mg-bank3-frame5 {
  width: 50%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: flex-start;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  justify-content: center;
  background-color: #FF1C1C;
}
.mg-bank3-text17 {
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-frame139 {
  width: 92%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 1);
}
.mg-bank3-frame1562 {
  width: 100%;
  height: 1px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(204, 204, 204, 1);
}
.mg-bank3-text18 {
  color: rgb(35, 35, 35);
  width: 100%;
  height: fit-content;
  font-size: 10px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  line-height: 150%;
  padding-top: 10px;
  font-stretch: normal;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.mg-bank3-text19 {
  font-weight: 700;
}
.mg-bank3-text20 {
  font-weight: 700;
}
.mg-bank3-text21 {
  font-weight: 700;
}
.mg-bank3-text22 {
  color: var(--dl-color-danger-500);
  font-style: normal;
  font-weight: 700;
}
.mg-bank3-text23 {
  color: var(--dl-color-danger-500);
  font-style: normal;
  font-weight: 700;
}
.mg-bank3-text24 {
  color: var(--dl-color-danger-500);
  font-style: normal;
  font-weight: 700;
}
.mg-bank3-text27 {
  font-weight: 700;
}
.mg-bank3-text28 {
  font-weight: 700;
}
.mg-bank3-text31 {
  font-weight: 700;
}
.mg-bank3-text32 {
  font-weight: 700;
}
.mg-bank3-text40 {
  font-weight: 700;
}
.mg-bank3-text47 {
  font-weight: 700;
}
.mg-bank3-text50 {
  font-weight: 700;
}
.mg-bank3-text51 {
  font-weight: 700;
}
.mg-bank3-text53 {
  font-weight: 700;
}
.mg-bank3-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.mg-bank3-copyright {
  flex: 0 0 auto;
  width: 100%;
  height: 86px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.mg-bank3-bottom {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mg-bank3-icontele2 {
  left: 0px;
  right: 0px;
  width: 30px;
  bottom: 25px;
  height: 30px;
  margin: auto;
  position: absolute;
}
.mg-bank3-text56 {
  left: 0px;
  color: rgb(122, 122, 122);
  right: 0px;
  width: 267px;
  bottom: 3px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 6px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-bg-bottom {
  flex: 0 0 auto;
  width: 100%;
  height: 66px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mg-bank3-bottom-footer {
  gap: var(--dl-space-space-halfunit);
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 66px;
  display: flex;
  z-index: 10;
  overflow: hidden;
  position: fixed;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: rgba(225, 225, 225, 1);
}
.mg-bank3-container08 {
  top: 0px;
  left: 1%;
  right: 0px;
  width: 96%;
  height: 66px;
  margin: auto;
  display: flex;
  position: absolute;
}
.mg-bank3-navlink1 {
  display: contents;
}
.mg-bank3-frame162 {
  top: 0px;
  left: 83%;
  right: 0px;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.mg-bank3-text57 {
  top: 37px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-vector {
  top: 10px;
  left: 0px;
  right: 0px;
  width: 25px;
  height: 28px;
  margin: auto;
  position: absolute;
}
.mg-bank3-navlink2 {
  display: contents;
}
.mg-bank3-frame161 {
  top: 0px;
  left: 66.4%;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mg-bank3-text59 {
  top: 37px;
  left: 0px;
  color: #8f8f8f;
  right: 0px;
  width: 56px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-vector1 {
  top: 12px;
  left: 0px;
  right: 0px;
  width: 23px;
  height: 27px;
  margin: auto;
  position: absolute;
}
.mg-bank3-navlink3 {
  display: contents;
}
.mg-bank3-frame160 {
  top: 0px;
  left: 49.8%;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mg-bank3-text61 {
  top: 37px;
  left: 0px;
  color: #8f8f8f;
  right: 0px;
  width: 57px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-vector2 {
  top: 13px;
  left: 0px;
  right: 0px;
  width: 27px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.mg-bank3-navlink4 {
  display: contents;
}
.mg-bank3-frame159 {
  top: 0px;
  left: 33.2%;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mg-bank3-text63 {
  top: 37px;
  left: 0px;
  color: #8f8f8f;
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-vector3 {
  top: 13px;
  left: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.mg-bank3-navlink5 {
  display: contents;
}
.mg-bank3-frame158 {
  top: 0px;
  left: 16.6%;
  width: 16.6%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mg-bank3-text64 {
  top: 37px;
  left: 0px;
  color: #8f8f8f;
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-vector4 {
  top: 12px;
  left: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  margin: auto;
  position: absolute;
}
.mg-bank3-navlink6 {
  display: contents;
}
.mg-bank3-frame157 {
  top: 0px;
  left: 0px;
  width: 16%;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.mg-bank3-text65 {
  top: 37px;
  left: 0px;
  color: rgba(143, 143, 143, 1);
  right: 0px;
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-vector5 {
  top: 14px;
  left: 0px;
  right: 0px;
  width: 24px;
  height: 25px;
  margin: auto;
  position: absolute;
}
.mg-bank3-frame1563 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(166, 166, 166, 1);
}
.mg-bank3-java-code-personal {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: -100;
  align-items: flex-start;
  flex-direction: column;
}
.mg-bank3-modal1 {
  top: 50%;
  left: 50%;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
}
.mg-bank3-m0-popup0-login-error {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 85%;
  bottom: 0px;
  height: 350px;
  margin: auto;
  display: flex;
  overflow: auto;
  position: fixed;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.mg-bank3-container09 {
  top: 302.00001525878906px;
  left: 0px;
  right: 0px;
  width: 80%;
  height: 33px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.mg-bank3-ok {
  top: 0px;
  right: 0px;
  width: 49.8%;
  height: 33px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: #FF1C1C;
}
.mg-bank3-text66 {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-cancel {
  top: 0px;
  left: 0px;
  width: 49.8%;
  height: 33px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(28, 154, 255, 1);
  border-width: 1px;
  border-radius: 2px;
}
.mg-bank3-text67 {
  top: 0px;
  left: 0px;
  color: rgba(28, 154, 255, 1);
  right: 0px;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-rectangle2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 43px;
  margin: auto;
  position: absolute;
}
.mg-bank3-text68 {
  top: 12px;
  left: 40px;
  color: rgb(0, 0, 0);
  width: 50%;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text69 {
  top: 211px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 100%;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text73 {
  top: 111px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 100%;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-info {
  top: 10px;
  left: 12px;
  width: 24px;
  height: 22.754716873168945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mg-bank3-union {
  top: 3px;
  left: 3.75px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.mg-bank3-container10 {
  top: 145px;
  left: 0px;
  width: 100%;
  height: 53.51250076293945px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.mg-bank3-text77 {
  color: rgb(0, 0, 0);
  width: auto;
  height: fit-content;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text81 {
  color: rgb(0, 0, 0);
  width: auto;
  height: fit-content;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-modal2 {
  top: 50%;
  left: 50%;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
}
.mg-bank3-m0-popup0-login-error1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 85%;
  bottom: 0px;
  height: 350px;
  margin: auto;
  display: flex;
  overflow: auto;
  position: fixed;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.mg-bank3-frame51 {
  left: 0px;
  right: 0px;
  width: 50%;
  bottom: 15px;
  height: 33px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: rgba(28, 154, 255, 1);
}
.mg-bank3-text85 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-rectangle21 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 43px;
  margin: auto;
  position: absolute;
}
.mg-bank3-text87 {
  top: 12px;
  left: 40px;
  color: rgb(0, 0, 0);
  width: 50%;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-text88 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.mg-bank3-info1 {
  top: 10px;
  left: 12px;
  width: 24px;
  height: 22.754716873168945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mg-bank3-union1 {
  top: 3px;
  left: 3.75px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.mg-bank3-for-common-info {
  display: flex;
}
.mg-bank3-text92 {
  display: none;
}
.mg-bank3-text93 {
  display: none;
}
.mg-bank3-text94 {
  display: none;
}
.mg-bank3-text95 {
  display: none;
}
.mg-bank3-modalfortemp {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
}
.mg-bank3-icontele21 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
.mg-bank3-icontele22 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
.mg-bank3-icontele23 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  display: none;
  position: absolute;
}
