.op-top-top {
  width: 1536px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.op-top-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #929292;
}
.op-top-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.op-top-container02 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-success-700);
}
.op-top-text {
  font-size: 20px;
  font-weight: bold;
}
.op-top-container03 {
  width: 100%;
  height: 2px;
  display: flex;
  border-color: #a3a3a3;
  border-style: solid;
  border-width: 2px;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.op-top-line {
  width: 100%;
  height: 2px;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}
.op-top-container04 {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.op-top-navlink {
  display: contents;
}
.op-top-container05 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text1 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink1 {
  display: contents;
}
.op-top-container06 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text2 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink2 {
  display: contents;
}
.op-top-container07 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: none;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text3 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink3 {
  display: contents;
}
.op-top-container08 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text4 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink4 {
  display: contents;
}
.op-top-container09 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text5 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink5 {
  display: contents;
}
.op-top-container10 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text6 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink6 {
  display: contents;
}
.op-top-container11 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text7 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-container12 {
  width: 100%;
  height: 2px;
  display: flex;
  margin-top: 10px;
  border-color: #000000;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 400px) {
  .op-top-top {
    width: 100%;
  }
  .op-top-container {
    height: auto;
    margin-top: 3px;
    flex-direction: column;
  }
  .op-top-container01 {
    width: 100%;
  }
  .op-top-container02 {
    width: 50%;
    height: 20px;
  }
  .op-top-text {
    font-size: 11px;
  }
  .op-top-container03 {
    height: 1px;
    border-style: solid;
    border-width: 2px;
  }
  .op-top-line {
    margin-top: 3px;
  }
  .op-top-container04 {
    width: 100%;
  }
  .op-top-container05 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text1 {
    width: 92%;
    font-size: 11px;
    align-self: center;
    text-align: center;
  }
  .op-top-container06 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text2 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container07 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text3 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container08 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text4 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container09 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text5 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container10 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text6 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container11 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text7 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container12 {
    height: 1px;
    margin-top: 3px;
    border-style: solid;
  }
}

.opopercballfee-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.opopercballfee-container1 {
  flex: 0 0 auto;
  width: 1536px;
  height: 120px;
  display: flex;
  margin-top: 180px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.opopercballfee-text {
  width: 1536px;
  height: fit-content;
  font-size: 25px;
  align-self: center;
  text-align: center;
  font-weight: bold;
}
.opopercballfee-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.opopercballfee-container3 {
  width: 1536px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.opopercballfee-container4 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.opopercballfee-button {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text01 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button01 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text04 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button02 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text07 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button03 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text10 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button04 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text13 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-container5 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.opopercballfee-button05 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text16 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button06 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text19 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button07 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text22 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button08 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text25 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-button09 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-500);
}
.opopercballfee-text28 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.opopercballfee-container6 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.opopercballfee-container7 {
  width: 100%;
  display: none;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.opopercballfee-button10 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text29 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button11 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text32 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button12 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text35 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button13 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text38 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button14 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text41 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-container8 {
  width: 100%;
  display: none;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.opopercballfee-button15 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text44 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button16 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text47 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button17 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text50 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button18 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text53 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button19 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text54 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-button20 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}
.opopercballfee-text57 {
  color: var(--dl-color-gray-500);
}
.opopercballfee-personal-code {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}
@media(max-width: 400px) {
  .opopercballfee-container1 {
    width: 100%;
    height: 60px;
    margin-top: 100px;
  }
  .opopercballfee-text {
    width: 100%;
    font-size: 20px;
  }
  .opopercballfee-container3 {
    width: 100%;
  }
  .opopercballfee-button {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text01 {
    font-size: 12px;
  }
  .opopercballfee-button01 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text04 {
    font-size: 12px;
  }
  .opopercballfee-button02 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text07 {
    font-size: 12px;
  }
  .opopercballfee-button03 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text10 {
    font-size: 12px;
  }
  .opopercballfee-button04 {
    width: 30%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text13 {
    font-size: 12px;
  }
  .opopercballfee-button05 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text16 {
    font-size: 10px;
  }
  .opopercballfee-button06 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text19 {
    font-size: 10px;
  }
  .opopercballfee-button07 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text22 {
    font-size: 10px;
  }
  .opopercballfee-button08 {
    width: 30%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text25 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .opopercballfee-button09 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-text28 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .opopercballfee-button10 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button11 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button12 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button13 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button14 {
    width: 30%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button15 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button16 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button17 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button18 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button19 {
    width: 30%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercballfee-button20 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
}
