.op-top-top {
  width: 1536px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.op-top-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #929292;
}
.op-top-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.op-top-container02 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 2px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 2px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-success-700);
}
.op-top-text {
  font-size: 20px;
  font-weight: bold;
}
.op-top-container03 {
  width: 100%;
  height: 2px;
  display: flex;
  border-color: #a3a3a3;
  border-style: solid;
  border-width: 2px;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.op-top-line {
  width: 100%;
  height: 2px;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}
.op-top-container04 {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.op-top-navlink {
  display: contents;
}
.op-top-container05 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text1 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink1 {
  display: contents;
}
.op-top-container06 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text2 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink2 {
  display: contents;
}
.op-top-container07 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: none;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text3 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink3 {
  display: contents;
}
.op-top-container08 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text4 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink4 {
  display: contents;
}
.op-top-container09 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text5 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink5 {
  display: contents;
}
.op-top-container10 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text6 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-navlink6 {
  display: contents;
}
.op-top-container11 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(28, 154, 255);
}
.op-top-text7 {
  color: #ffffff;
  width: auto;
  height: fit-content;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
}
.op-top-container12 {
  width: 100%;
  height: 2px;
  display: flex;
  margin-top: 10px;
  border-color: #000000;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 400px) {
  .op-top-top {
    width: 100%;
  }
  .op-top-container {
    height: auto;
    margin-top: 3px;
    flex-direction: column;
  }
  .op-top-container01 {
    width: 100%;
  }
  .op-top-container02 {
    width: 50%;
    height: 20px;
  }
  .op-top-text {
    font-size: 11px;
  }
  .op-top-container03 {
    height: 1px;
    border-style: solid;
    border-width: 2px;
  }
  .op-top-line {
    margin-top: 3px;
  }
  .op-top-container04 {
    width: 100%;
  }
  .op-top-container05 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text1 {
    width: 92%;
    font-size: 11px;
    align-self: center;
    text-align: center;
  }
  .op-top-container06 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text2 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container07 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text3 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container08 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text4 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container09 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text5 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container10 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text6 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container11 {
    width: 19%;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
  }
  .op-top-text7 {
    width: 92%;
    font-size: 11px;
    text-align: center;
  }
  .op-top-container12 {
    height: 1px;
    margin-top: 3px;
    border-style: solid;
  }
}

.opopercbyearmonth-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.opopercbyearmonth-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.opopercbyearmonth-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 160px;
  display: flex;
  margin-top: 180px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.opopercbyearmonth-text {
  width: 100%;
  height: 60px;
  font-size: 25px;
  align-self: center;
  text-align: center;
  font-weight: bold;
}
.opopercbyearmonth-container3 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.opopercbyearmonth-textinput {
  width: 200px;
  height: 45px;
  font-size: 19px;
  text-align: center;
}
.opopercbyearmonth-textinput1 {
  width: 200px;
  height: 45px;
  font-size: 19px;
  text-align: center;
}
.opopercbyearmonth-container4 {
  flex: 0 0 auto;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.opopercbyearmonth-text01 {
  color: var(--dl-color-gray-white);
  font-weight: bold;
}
.opopercbyearmonth-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.opopercbyearmonth-container6 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.opopercbyearmonth-button {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-500);
}
.opopercbyearmonth-text02 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button01 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-500);
}
.opopercbyearmonth-text05 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button02 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-500);
}
.opopercbyearmonth-text08 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button03 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #2b2b2b;
}
.opopercbyearmonth-text11 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button04 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #2b2b2b;
}
.opopercbyearmonth-text14 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button05 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #2b2b2b;
}
.opopercbyearmonth-text17 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button06 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-500);
}
.opopercbyearmonth-text21 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button07 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-500);
}
.opopercbyearmonth-text25 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button08 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-500);
}
.opopercbyearmonth-text29 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button09 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-500);
}
.opopercbyearmonth-text34 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-button10 {
  color: var(--dl-color-gray-white);
  width: 50%;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  margin-top: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  margin-left: 1px;
  border-width: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: var(--dl-color-gray-black);
}
.opopercbyearmonth-text39 {
  font-size: 14px;
  line-height: 1.2;
}
.opopercbyearmonth-container7 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column-reverse;
  justify-content: center;
}
.opopercbyearmonth-personal-code {
  flex: none;
  display: none;
  z-index: -100;
  position: fixed;
}
.opopercbyearmonth-modal1 {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
}
.opopercbyearmonth-frame000-member-tos {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 640px;
  bottom: 0px;
  height: 450px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.5) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.opopercbyearmonth-text44 {
  color: rgb(0, 0, 0);
  width: 80%;
  height: auto;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 20px;
  text-decoration: none;
}
.opopercbyearmonth-container8 {
  top: 387px;
  left: 0px;
  right: 0px;
  width: 313px;
  height: 39px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.opopercbyearmonth-button11 {
  top: 0px;
  left: 0px;
  color: rgb(28, 154, 255);
  width: 155px;
  height: 39px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-color: rgb(28, 154, 255);
  border-width: 1px;
  background-color: transparent;
}
.opopercbyearmonth-button12 {
  top: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 155px;
  height: 39px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  background-color: rgb(28, 154, 255);
}
@media(max-width: 400px) {
  .opopercbyearmonth-container1 {
    align-items: center;
    justify-content: center;
  }
  .opopercbyearmonth-container2 {
    width: 100%;
    height: 60px;
  }
  .opopercbyearmonth-text {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }
  .opopercbyearmonth-container3 {
    width: 100%;
  }
  .opopercbyearmonth-textinput {
    width: 33%;
    height: 30px;
    font-size: 14px;
  }
  .opopercbyearmonth-textinput1 {
    width: 33%;
    height: 30px;
    font-size: 14px;
  }
  .opopercbyearmonth-container4 {
    width: 33%;
    height: 30px;
  }
  .opopercbyearmonth-text01 {
    font-size: 12px;
  }
  .opopercbyearmonth-container5 {
    width: 100%;
  }
  .opopercbyearmonth-button {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-button01 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text05 {
    line-height: 1;
  }
  .opopercbyearmonth-button02 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text08 {
    line-height: 1;
  }
  .opopercbyearmonth-button03 {
    width: 24%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text11 {
    line-height: 1;
  }
  .opopercbyearmonth-button04 {
    width: 30%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    border-color: var(--dl-color-gray-500);
    border-radius: 0px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text14 {
    line-height: 1;
  }
  .opopercbyearmonth-button05 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text17 {
    line-height: 1;
  }
  .opopercbyearmonth-button06 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text21 {
    line-height: 1;
  }
  .opopercbyearmonth-button07 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text25 {
    line-height: 1;
  }
  .opopercbyearmonth-button08 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text29 {
    line-height: 1;
  }
  .opopercbyearmonth-button09 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text34 {
    line-height: 1;
  }
  .opopercbyearmonth-button10 {
    width: 20%;
    height: 30px;
    margin: 1px;
    font-size: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .opopercbyearmonth-text39 {
    line-height: 1;
  }
}
