<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html/dist/default/lib.umd.js"
  ></script>
  <link href="./java-code-popup-modal.css" rel="stylesheet" />
  <div class="java-code-popup-modal-code-embed">
    <div>
      <dangerous-html
        html="    <script type='text/javascript' src='/js/stockmodal1.js'> </script>
    <script type='text/javascript' src='/js/stockmodal2.js'> </script>
    <script type='text/javascript' src='/js/stockmodal3.js'> </script>"
      ></dangerous-html>
    </div>
  </div>
</div>
