<div>
  <link href="./temp-modal.css" rel="stylesheet" />
  <div class="temp-modal-container">
    <img
      id="btn-modal1"
      alt="Icontele21273"
      src="public/external/icontele21273-gqug-200h.png"
      class="temp-modal-icontele2"
    />
    <img
      id="btn-modal2"
      alt="Icontele21273"
      src="public/external/icontele21273-gqug-200h.png"
      class="temp-modal-icontele21"
    />
    <img
      id="btn-modal3"
      alt="Icontele21273"
      src="public/external/icontele21273-gqug-200h.png"
      class="temp-modal-icontele22"
    />
    <img
      id="btn-modal4"
      alt="Icontele21273"
      src="public/external/icontele21273-gqug-200h.png"
      class="temp-modal-icontele23"
    />
  </div>
</div>
