<div>
  <link href="./user-info.css" rel="stylesheet" />
  <div class="user-info-user-info">
    <div class="user-info-frame15">
      <div class="user-info-container">
        <span class="user-info-text"><span>계좌코드 :</span></span>
        <span id="topAccCode" class="user-info-text1"><span>-</span></span>
        <span id="topuserid2" class="user-info-text2"><span>-</span></span>
      </div>
      <div class="user-info-container1">
        <div class="user-info-container2">
          <img
            alt="AppTitleundefinedGlyphundefined1345"
            src="public/external/apptitleundefinedglyphundefined1345-a8pr.svg"
            class="user-info-app-titleundefined-glyphundefined"
          />
          <span class="user-info-text3"><span>주문가능금액 :</span></span>
          <span id="topav" class="user-info-text4"><span>-</span></span>
        </div>
        <div class="user-info-container3">
          <img
            alt="AppTitleundefinedGlyphundefined1345"
            src="public/external/apptitleundefinedglyphundefined1345-fkje.svg"
            class="user-info-app-titleundefined-glyphundefined1"
          />
          <span class="user-info-text5"><span>평가금액합계 :</span></span>
          <span id="topmrg" class="user-info-text6"><span>-</span></span>
        </div>
        <div class="user-info-container4">
          <img
            alt="AppTitleundefinedGlyphundefined1345"
            src="public/external/apptitleundefinedglyphundefined1345-fkje.svg"
            class="user-info-app-titleundefined-glyphundefined2"
          />
          <span class="user-info-text7"><span>예탁금 :</span></span>
          <span id="topdep" class="user-info-text8"><span>-</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
