<div>
  <link href="./user-info-mobile.css" rel="stylesheet" />
  <div class="user-info-mobile-user-info-mobile">
    <div class="user-info-mobile-container">
      <div class="user-info-mobile-container1">
        <span class="user-info-mobile-text"><span>주문가능금액 :</span></span>
        <span id="topav" class="user-info-mobile-text1"><span>-</span></span>
      </div>
      <div class="user-info-mobile-container2">
        <div class="user-info-mobile-container3">
          <span class="user-info-mobile-text2">
            <span>평가금액합계 :</span>
          </span>
          <span id="topmrg" class="user-info-mobile-text3"><span>-</span></span>
        </div>
        <div class="user-info-mobile-container4">
          <span class="user-info-mobile-text4"><span>예탁금 :</span></span>
          <span id="topdep" class="user-info-mobile-text5"><span></span></span>
        </div>
      </div>
    </div>
  </div>
</div>
